.container {
  width: fit-content;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 15px 40px;
  font-family: axiforma;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all .9s ease-in-out;
  border-radius: 50px;
  border: none;
}
.container:hover {
  background: #0b693d;
  color: #fff;
}

/* @media screen and (max-width: 600px) {
  .container {
    text-align: center;
    padding: 4px 4px 4px 20px;
    gap: 10px;
    align-items: center;
  }
  .arrow {
    border-radius: 50px;
    font-size: 22px;
    padding: 4px 4px 2px 4px;
    margin: 0;
  }
} */